body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

h1{
    font-size: 2rem;
    font-weight: bolder;
}

h2{
    font-size: 1rem;
}